@{
    ViewBag.Title = "Index";
}
<div id="home-index">
    <!--Title-->
    <div class="title b-lightgrey">
        <h2>Get Started</h2>
    </div>

    <!--Description-->
    <div class="subtitle b-grey f-white small">
        <h3>Barter in 4 simple steps!</h3>
    </div>  

    <div class="walkthrough">

        <h3 class="text">1. Post your items.</h3>
        <img src="~/Content/Images/Index/step01.png" />
        <h3 class="text">2. Browse the marketplace and pick any items you want.</h3>
        <img src="~/Content/Images/Index/step02.png" />
        <h3 class="text">3. As your item starts to be wanted by others...</h3>
        <img class="gif" src="~/Content/Images/Index/step03.gif" />
        <h3 class="text">...your shopping cart will start to fill with barter options. Start a barter by checking out one of the options.</h3>
        <img src="~/Content/Images/Index/step03.png" />
        <h3 class="text">4. Your barter is now a transaction. To finish the barter, all participants shall checkout the option, handover the items and rate the transaction.</h3>
        <img src="~/Content/Images/Index/step04.png" />
    </div>
</div>
