@{
    ViewBag.Title = "Index";
}
<div id="makeanoffer-index">
    <!--Title-->
    <div class="title b-lightgrey">
        <h2>My Cart</h2>
    </div>

    <!--Description-->
    <div class="subtitle b-green f-white small">
        <h3>2 of your items are ready to barter. Pick an option for each item and checkout.</h3>
    </div>

    <div class="row theader">
        <div class="column">My product</div>
        <div class="column">Barter options</div>
        <div class="column">Action</div>
    </div>

    <div class="row product b-lightgrey" data-index="1">
        <div class="column info">
            <img class="" src="~/Files/Images/ProductImages/2_0_small.jpg" />
            <div class="name">Urban commuter bicycle</div>
        </div>
        <div class="column optionsCount">3</div>
        <div class="column link f-green"><a class="expand" href="#noref">Pick option and checkout</a></div>
    </div>
    <div class="options" data-index="1">
        <div class="row label f-green">Barter options</div>
        <div class="row option">
            <div class="cycle">
                <a href="/MyProducts/Details/5" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/2_0_small.jpg">
                    </div>
                    <div class="user">Jessica M.</div>
                </a>
                <div class="arrow inline">
                    <img src="/Content/Images/Components/onewayarrow.png">
                </div>
                <a href="/Products/Details/3" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/default.jpg">
                    </div>
                    <div class="user">Francesca G.</div>
                </a>
                <div class="arrow inline">
                    <img src="/Content/Images/Components/onewayarrow.png">
                </div>
                <a href="/MyProducts/Details/5" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/2_0_small.jpg">
                    </div>
                    <div class="user">Jessica M.</div>
                </a>
            </div>
            <a href="#" class="button b-green f-white hide">Checkout</a>
        </div>
        <div class="row option">
            <div class="cycle">
                <a href="/MyProducts/Details/5" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/2_0_small.jpg">
                    </div>
                    <div class="user">Jessica M.</div>
                </a>
                <div class="arrow inline">
                    <img src="/Content/Images/Components/onewayarrow.png">
                </div>
                <a href="/Products/Details/3" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/default.jpg">
                    </div>
                    <div class="user">Van T.</div>
                </a>
                <div class="arrow inline">
                    <img src="/Content/Images/Components/onewayarrow.png">
                </div>
                <a href="/MyProducts/Details/5" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/2_0_small.jpg">
                    </div>
                    <div class="user">Jessica M.</div>
                </a>
            </div>
            <a href="#" class="button b-green f-white hide">Checkout</a>
        </div>
        <div class="row option">
            <div class="message f-green"><a href="#">Scott A.</a> checked out this option.</div>
            <div class="cycle">
                <a href="/MyProducts/Details/5" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/2_0_small.jpg">
                    </div>
                    <div class="user">Jessica M.</div>
                </a>
                <div class="arrow inline">
                    <img src="/Content/Images/Components/onewayarrow.png">
                </div>
                <a href="/Products/Details/3" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/default.jpg">
                    </div>
                    <div class="user">Scott A. </div>
                    <span class="checked f-white b-green">&#10004</span>
                </a>
                <div class="arrow inline">
                    <img src="/Content/Images/Components/onewayarrow.png">
                </div>
                <a href="/Products/Details/3" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/default.jpg">
                    </div>
                    <div class="user">Dustin B.</div>
                </a>
                <div class="arrow inline">
                    <img src="/Content/Images/Components/onewayarrow.png">
                </div>
                <a href="/MyProducts/Details/5" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/2_0_small.jpg">
                    </div>
                    <div class="user">Jessica M.</div>
                </a>
            </div>
            <a href="#" class="button b-green f-white hide">Checkout</a>
        </div>
    </div>
    <div class="row product b-lightgrey" data-index="2">
        <div class="column info">
            <img class="" src="~/Files/Images/ProductImages/1_0_small.jpg" />
            <div class="name">Superhero action toys</div>
        </div>
        <div class="column optionsCount">2</div>
        <div class="column link f-green"><a href="#noref" class="expand">Pick option and checkout</a></div>
    </div>
    <div class="options" data-index="2">
        <div class="row label f-green">Barter options</div>
        <div class="row option">
            <div class="message f-green"><a href="#">Francesca G.</a> checked out this option.</div>
            <div class="cycle">
                <a href="/MyProducts/Details/5" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/1_0_small.jpg">
                    </div>
                    <div class="user">Jessica M.</div>
                </a>
                <div class="arrow inline">
                    <img src="/Content/Images/Components/onewayarrow.png">
                </div>
                <a href="/Products/Details/3" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/default.jpg">
                    </div>
                    <div class="user">Francesca G.</div>
                    <span class="checked f-white b-green">&#10004</span>
                </a>
                <div class="arrow inline">
                    <img src="/Content/Images/Components/onewayarrow.png">
                </div>
                <a href="/MyProducts/Details/5" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/1_0_small.jpg">
                    </div>
                    <div class="user">Jessica M.</div>
                </a>
            </div>
            <a href="#" class="button b-green f-white hide">Checkout</a>
        </div>
        <div class="row option">
            <div class="message f-green"><a href="#">Scott A.</a>, <a href="#">Dustin B.</a>  checked out this option.</div>
            <div class="cycle">
                <a href="/MyProducts/Details/5" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/1_0_small.jpg">
                    </div>
                    <div class="user">Jessica M.</div>
                </a>
                <div class="arrow inline">
                    <img src="/Content/Images/Components/onewayarrow.png">
                </div>
                <a href="/Products/Details/3" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/default.jpg">
                    </div>
                    <div class="user">Scott A.</div>
                    <span class="checked f-white b-green">&#10004</span>
                </a>
                <div class="arrow inline">
                    <img src="/Content/Images/Components/onewayarrow.png">
                </div>
                <a href="/Products/Details/3" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/default.jpg">
                    </div>
                    <div class="user">Dustin B.</div>
                    <span class="checked f-white b-green">&#10004</span>
                </a>
                <div class="arrow inline">
                    <img src="/Content/Images/Components/onewayarrow.png">
                </div>
                <a href="/MyProducts/Details/5" class="product inline">
                    <div class="image">
                        <img src="/Files/Images/ProductImages/1_0_small.jpg">
                    </div>
                    <div class="user">Jessica M.</div>
                </a>
            </div>
            <a href="#" class="button b-green f-white hide">Checkout</a>
        </div>
    </div>

</div>
